{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }} {% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }}  {% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
            &rsaquo; <span>General</span>
            &rsaquo; <a href="/admin/notifications/">Notifications</a>
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main ">
        <table class="table table-centered table-striped table-nowrap mb-0" id="notification-table">
            <thead class="thead-light">
            <tr>
                <th class="border-0">Content</th>
                <th class="border-0">Status</th>
                <th class="border-0">Sent date</th>
                <th class="border-0">Action</th>
            </tr>
            </thead>
            <tbody id='notification-content-page'>
            </tbody>
        </table>
        <div class="mt-3" style="text-align: center;">
            <input id="load-more-page" type="submit" value="Load more" class="default" name="load_more"
                   style="margin: 0 auto; display: none">
        </div>
    </div>

    <div>
        <script src="{% static 'admin/js/notification-page.js' %}" type="module"></script>
    </div>
{% endblock %}
