# Environment variables for the project
APP_ENV=development

# Django settings
DEBUG=True
APPEND_SLASH=False
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=https://www.myjob.com,https://employer.myjob.com,<ngrok-url>

# Database settings
DB_ENGINE=django.db.backends.mysql
DB_HOST=db
DB_NAME=myjob_db
DB_PASSWORD=P@ssword
DB_PORT=3306
DB_USER=root

# Email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
EMAIL_PORT=587

# Redis settings
SERVICE_REDIS_HOST=redis
SERVICE_REDIS_PASSWORD=123456789
SERVICE_REDIS_PORT=6379
SERVICE_REDIS_USERNAME=default
SERVICE_REDIS_DB=0

# Social auth settings
SOCIAL_AUTH_FACEBOOK_KEY=
SOCIAL_AUTH_FACEBOOK_SECRET=
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

# Firebase settings
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

FIREBASE_CREDENTIALS_PATH=tmp/firebase-config.json

# SMS settings
SMS_API_KEY=

# Cloudinary settings
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Web client settings
WEB_JOB_SEEKER_CLIENT_URL=https://www.myjob.com/
WEB_EMPLOYER_CLIENT_URL=https://employer.myjob.com/

# Ngrok settings
NGROK_AUTHTOKEN=