{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Notifications {% endblock title %}

{% block overlay %}
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Notifications</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Content
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Status
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Sent date
                                    </th>
                                    <th class="text-right text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody id='notification-content-page'>
                                </tbody>
                            </table>
                            <div class="mt-3" style="text-align: center;">
                                <button class="btn btn-primary" id="load-more-page" style="margin: 0 auto; display: none">Xem thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>
{% endblock content %}


{% block scripts %}
    {{ super }}
    <script src="{% static 'js/notification-page.js' %}" type="module"></script>
{% endblock scripts %}
