{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
     data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
                <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
            </ol>
            {% comment %} <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6> {% endcomment %}
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            </div>
            <ul class="navbar-nav  justify-content-end">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li class="nav-item d-flex align-items-center">
                            <a href="{% url 'admin:logout' %}" class="nav-link text-white font-weight-bold px-0">
                                <i class="fa fa-user me-sm-1"></i>
                                <span class="d-sm-inline d-none me-3">Logout</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="{% url 'admin:password_change' %}"
                               class="nav-link text-white font-weight-bold px-0">
                                <span class="d-sm-inline d-none">Change Password</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item d-flex align-items-center">
                            <a href="{% url 'logout' %}" class="nav-link text-white font-weight-bold px-0">
                                <i class="fa fa-user me-sm-1"></i>
                                <span class="d-sm-inline d-none me-3">Logout</span>
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <a href="{% url 'password_change' %}" class="nav-link text-white font-weight-bold px-0">
                                <span class="d-sm-inline d-none">Change Password</span>
                            </a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item d-flex align-items-center">
                        <a href="{% url 'login' %}" class="nav-link text-white font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none">Sign In</span>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </li>
                <li class="nav-item px-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0">
                        <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                    </a>
                </li>
                <li class="nav-item dropdown pe-2 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton"
                       data-bs-toggle="dropdown" aria-expanded="false">

                        <i class="fa fa-bell cursor-pointer"></i>
                        <div style="position: absolute; top: 0; right: 0; z-index: 1;  color: red;">4</div>

                    </a>
                    <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4"
                        aria-labelledby="dropdownMenuButton" id="notification-content">

                        <li class="mb-2 text-center font-weight-bold text-primary">Xem thêm
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block scripts %}
    {{ super }}
    <script src="{% static 'js/notification.js' %}" type="module"></script>
{% endblock scripts %}
<!-- End Navbar -->