{% load i18n static admin_volt %}

<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-2 pt-3">
        <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item {% if 'dashboard' in segment %}active{% endif %}">
                <a href="{% url 'admin:index' %}" class="nav-link">
          <span class="sidebar-icon">
             <i class="fa fa-dashboard" style="font-size:20px;"></i>
          </span>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item {% if 'notifications' in segment %}active{% endif %}">
                <a href="{% url 'myjob_notifications' %}" class="nav-link">
          <span class="sidebar-icon">
                <i class="fa fa-bell" style="font-size:20px;"></i>
          </span>
                    <span class="sidebar-text">Notifications</span>
                </a>
            </li>

            {% admin_get_menu as app_list %}
            {% if app_list %}
                {% for app in app_list %}
                    {% if app.has_perms and not app.pinned %}
                        <li class="nav-item">
              <span class="nav-link collapsed d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#submenu-dashboard{{ app.app_label }}">
                <span>
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                  </span>
                  <span class="sidebar-text">{{ app.label|slice:16 }}{% if app.label|length > 16 %}..{% endif %}</span>
                </span>
                <span class="link-arrow">
                  <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"></path>
                  </svg>
                </span>
              </span>
                            {% if app.models %}
                                <div
                                        class="multi-level collapse {% if 'tables-bootstrap-' in segment or app_label == app.label or app.url in request.path|urlencode %} show {% endif %}"
                                        role="list"
                                        id="submenu-dashboard{{ app.app_label }}"
                                        aria-expanded="{% if app_label == app.label or app.url in request.path|urlencode %}true{% else %}false{% endif %}">
                                    <ul class="flex-column nav">
                                        {% for model in app.models %}
                                            {% if model.url %}
                                                <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                                                    <a class="nav-link" href="{{ model.url }}">
                                                        <span class="sidebar-text-contracted"> A </span>
                                                        <span class="sidebar-text">{{ model.label }}</span>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="nav-item">{{ model.label }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</nav>