::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 5px;
}

h3,
.h3,
.h3 {
  font-size: 1rem !important;
  line-height: 1.375;
}

.vLargeTextField, .vXMLLargeTextField {
    width: 100% !important;
}

.vTextField, .vUUIDField {
    width: 100% !important;
}

.vIntegerField {
    width: 100% !important;
}

.vBigIntegerField {
    width: 100% !important;
}

form .aligned ul {
     margin-left: 0 !important;
    padding-left: 10px;
}