{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="pt-4">
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-3 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div
                                class="col-12 col-xl-4 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                                <i class="fa fa-user" style="font-size:30px;"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">Job seeker</h2>
                                <h3 class="fw-extrabold mb-1"> {{ new_candidate.total }}</h3>
                            </div>
                        </div>

                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Job seeker</h2>
                                <h3 class="fw-extrabold mb-2">{{ new_candidate.total }}</h3>
                            </div>
                            <div class="small d-flex mt-1">
                                <div>Since last month
                                    <svg class="icon icon-xs text-success" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-success fw-bolder">{{ new_candidate.current_month_total }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div
                                class="col-12 col-xl-4 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                                <i class="fa fa-building-o" style="font-size:30px;"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Employer</h2>
                                <h3 class="mb-1">{{ new_employer.total }}</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Employer</h2>
                                <h3 class="fw-extrabold mb-2">{{ new_employer.total }}</h3>
                            </div>
                            <div class="small d-flex mt-1">
                                <div>Since last month
                                    <svg class="icon icon-xs text-success" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-success fw-bolder">{{ new_employer.current_month_total }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div
                                class="col-12 col-xl-4 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-info rounded me-4 me-sm-0">
                                <i class="fa fa-newspaper-o" style="font-size:30px;"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Job post</h2>
                                <h3 class="mb-1">{{ job_post.total }}</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Job post</h2>
                                <h3 class="fw-extrabold mb-2">{{ job_post.total }}</h3>
                            </div>
                            <div class="small d-flex mt-1">
                                <div>Since last month
                                    <svg class="icon icon-xs text-success" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-success fw-bolder">{{ job_post.current_month_total }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div
                                class="col-12 col-xl-4 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">

                            <div class="icon-shape icon-shape-success rounded me-4 me-sm-0">
                                <i class="fa fa-address-card" style="font-size:30px;"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Apply</h2>
                                <h3 class="mb-1">{{ job_post_activity.total }}</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Apply</h2>
                                <h3 class="fw-extrabold mb-2">{{ job_post_activity.total }}</h3>
                            </div>
                            <div class="small d-flex mt-1">
                                <div>Since last month
                                    <svg class="icon icon-xs text-success" fill="currentColor" viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="text-success fw-bolder">{{ job_post_activity.current_month_total }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xxl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">User chart</h2>
                </div>
                <div class="card-body">
                    <div id="user-chart-filter"
                         class=" rounded-2"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; ">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="chart mt-2">
                        <canvas id="user-chart-line" class="chart-canvas" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">Job Post Chart</h2>
                </div>
                <div class="card-body">
                    <div id="job-post-chart-filter"
                         class=" rounded-2"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; ">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="chart mt-2">
                        <canvas id="job-post-chart-bar" class="chart-canvas" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">Top 5 careers</h2>
                </div>
                <div class="card-body">
                    <div id="career-chart-filter"
                         class=" rounded-2"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; ">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="chart mt-2">
                        <canvas id="chart-career-pie" class="chart-canvas" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">Application chart</h2>
                </div>
                <div class="card-body">
                    <div id="application-chart-filter"
                         class=" rounded-2"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; ">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="chart mt-2">
                        <canvas id="application-chart-bar" class="chart-canvas" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'assets/js/user-chart.js' %}"></script>
    <script src="{% static 'assets/js/job-post-chart.js' %}"></script>
    <script src="{% static 'assets/js/career-chart.js' %}"></script>
    <script src="{% static 'assets/js/application-chart.js' %}"></script>
{% endblock extra_js %}